body {
    font-family: "Poppins";
}

.background {
    background-image: url("/image/anastasia-kozheko-normal.gif");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0.456);
}

.map { 
    height: 500px;
}